$color-black: #000;
$color-black: #000;
$color-white: #fff;
$color-yellow: #ffcf00;
$color-yellow-dark: #eeb900;
$color-blue-dark: #00223e;
$color-blue-light: #334e65;
$color-grey: #666;
$color-grey-title: #2c3e50;
$color-grey-input: #d3d3d3;
$color-blue-dark-input: #0c1e2e;

$color-btn-hover: #ff9c00;
$color-btn: #ffcf00;
$color-page-nav: #97cbff;
$color-page-nav-active: #d1e5fa;

$color-numbers: #435160;
$color-more-info: #142c5e;

